{% extends 'menu.html' %}
{% block title %}Página Não Encontrada (404){% endblock %}

{% block content %}
<script>
function goBack() {
    window.history.back()
}
</script>
<div id='nav-bar'>
    <div id='view1'>
        <div class="page-title">
            <h3>Erro 404</h3>
            <h4>A página requisitada não existe.<br>Por favor, verifique se o endereço web digitado está correto.</h4>
            <img src="/static/img/not-found-error.gif" style="display:block; margin-left:auto; margin-right:auto; width:40%; margin-top:30px; ">
        </div>
        <div class="div-botao-estilizado">
            <button onClick="goBack()" style="cursor:pointer!important; margin-top:10px;" class="btn-estilizado btn-estilizado-blue">Voltar</button>
        </div>
    </div>
</div>
{% endblock %}
