{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/table.css" />
{% endblock %}

{% block js %}
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/switch_view.js"></script>
{% endblock %}

{% block content %}
<div id="nav-bar">
    <div id="view1">
        <div class="page-title">
            <h3>Anomalias</h3>
            <h4>{{lab_nome}}</h4>
        </div>
        {% if anomalias|len > 0 %}
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Data</th>
                    <th class="text-center">Resolver</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for anomalia in anomalias %}
                <tr>
                    <td class="text-center" title="{{anomalia.descricao}}">{{anomalia.tipo}}</td>
                    <td class="text-center">{{anomalia.data_anomalia|data_segundos}}</td>
                    <td class="text-center">
                        <a href="{{url_for('solucionar_anomalia', lab_id=lab_id, lab_nome=lab_nome, id=anomalia.id)}}">
                            <input type="image" src="/static/img/tools.png" alt="Solucionar" class="delete-table-opt">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="ui-widget msg">
            <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
                Não há anomalias a serem resolvidas.</p>
            </div>
        </div>
        {% endif %}

        <div class="div-botao-estilizado trocar-view-btn">
            <a href="#resolvidas" class="btn-estilizado btn-estilizado-blue" id="switch-view-reload">Ver Log de Anomalias Resolvidas</a>
        </div>

        <div class="div-botao-estilizado">
            <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
        </div>
    </div>

    <div anchor="resolvidas" id="view2" style="display:none">
        <div class="page-title">
            <h3>Anomalias Resolvidas de {{dia|dia_mes_ano}}</h3>
            <h4>{{lab_nome}}</h4>
        </div>
        {% if anomalias_resolvidas|len > 0 %}
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-center">Tipo</th>
                    <th class="text-center">Data da Anomalia</th>
                    <th class="text-center">Ação</th>
                    <th class="text-center">Autor</th>
                    <th class="text-center">Hora da Resolução</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for i in range(anomalias_resolvidas|len) %}
                <tr>
                    <td class="text-center" title="{{anomalias_resolvidas[i].descricao}}">{{anomalias_resolvidas[i].tipo}}</td>
                    <td class="text-center">{{anomalias_resolvidas[i].data_anomalia|data_segundos}}</td>
                    <td class="text-center">{{anomalias_resolvidas[i].acao}}</td>
                    <td class="text-center">{{anomalias_resolvidas[i].nome_autor_resolucao}}</td>
                    <td class="text-center">{{anomalias_resolvidas[i].data_resolucao|hora_min}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="ui-widget msg">
            <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
                Não há anomalias resolvidas.</p>
            </div>
        </div>
        {% endif %}

        {% if dia_anterior != proximo_dia %}
        <div class="div-botao-estilizado trocar-view-btn">
            {% if dia_anterior != dia %}
                <a href="{{url_for('anomalias', id=lab_id, nome=lab_nome, dia=dia_anterior|format_dia_url, _anchor='resolvidas')}}" class="btn-estilizado btn-estilizado-blue">Dia anterior ({{dia_anterior|dia_mes_ano}})</a>
            {% endif %}
            {% if proximo_dia != dia %}
                <a href="{{url_for('anomalias', id=lab_id, nome=lab_nome, dia=proximo_dia|format_dia_url, _anchor='resolvidas')}}" class="btn-estilizado btn-estilizado-blue">Próximo dia ({{proximo_dia|dia_mes_ano}})</a>
            {% endif %}
        </div>
        {% endif %}

        <div class="div-botao-estilizado trocar-view-btn">
            <a href="#" class="btn-estilizado btn-estilizado-blue" id="switch-back-reload">Ver Anomalias Pendentes</a>
        </div>

        <div class="div-botao-estilizado">
            <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
        </div>
    </div>
</div>
{% endblock %}
