{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/table.css" />
{% endblock %}

{% block content %}
<div id="nav-bar">
<div id="view1">
    <div class="page-title">
        <h3>Anomalias</h3>
        <h4>{{lab_nome}}</h4>
    </div>
    {% if anomalias|len > 0 %}
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-left">Tipo</th>
                <th class="text-left">Data</th>
                <th class="text-left">Data da Resolução</th>
                <th class="text-left">Ação</th>
                <th class="text-left">Autor</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            {% for anomalia in anomalias %}
            <tr>
                <td title="{{anomalia.descricao}}">{{anomalia.tipo}}</td>
                <td>{{anomalia.data_anomalia|data_segundos}}</td>
                <td>{{anomalia.data_resolucao|data_segundos}}</td>
                <td>{{anomalia.acao|vazio}}</td>
                <td>{{anomalia.nome_autor_resolucao|vazio}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="ui-widget msg">
        <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
            Não há anomalias a serem resolvidas.</p>
        </div>
    </div>
    {% endif %}

    <div class="div-botao-estilizado">
        <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
    </div>
</div>
</div>
{% endblock %}
