{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css" />
<link rel="stylesheet" type="text/css" href="/static/css/labs.css" />
{% endblock %}

{% block content %}
<div id="nav-bar">
    <div class="page-title">
        <h3>Cadastro de Usuário do Laboratório</h3>
    </div>

    <div class="neat-form" id="hidden-form">
        <form method="POST">
            <fieldset>
                <legend><span class="number">1</span> Laboratório Associado</legend>
                <select name="id-lab">
                    <optgroup label="Laboratórios">
                        {% for lab in laboratorios %}
                        <option value="{{lab.id}}">{{lab.nome}}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </fieldset>
            <fieldset>
                <legend><span class="number">2</span> Identificação MyDenox</legend>
                <input type="text" name="id-user" placeholder="Mesmo ID registrado no sistema MyDenox">
            </fieldset>
            <fieldset>
                <legend><span class="number">3</span> Dados do Usuário</legend>
                <input type="text" name="nome" placeholder="Nome Completo">
                <input type="text" name="email" placeholder="E-mail">
            </fieldset>
            <input type="submit" value="Cadastrar Usuário do Laboratório" />
        </form>
    </div>
</div>
{% endblock %}
