{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css" />
{% endblock %}

{% block content %}
<div id="nav-bar">
    <div class="page-title">
        <h3>Cadastro de Usuário do Sistema</h3>
    </div>

    <div class="neat-form" id="hidden-form">
        <form method="POST" action="{{url_for('cadastro')}}">
            <fieldset>
                <legend><span class="number">1</span> Informações de Acesso</legend>
                <input type="text" name="login" placeholder="Login (ex.: jcviola)">
                <input type="password" name="senha" placeholder="Senha">
            </fieldset>
            <fieldset>
                <legend><span class="number">2</span> Dados do Usuário</legend>
                <input type="text" name="nome" placeholder="Nome Completo">
                <input type="text" name="email" placeholder="E-mail">
            </fieldset>
            <input type="submit" value="Cadastrar Usuário do Sistema" />
        </form>
    </div>
</div>
{% endblock %}
