{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/form.css" />
{% endblock %}

{% block js %}
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/editar_lab.js"></script>
{% endblock %}

{% block content %}
<div id="nav-bar">

    <div class="page-title">
        <h3>Alterar Dados do Laboratório</h3>
        <h4>{{lab_nome}}</h4>
    </div>

    <div class="neat-form">
        <form method="POST">
            <fieldset>
                <legend><span class="number">1</span> Informações do Laboratório</legend>
                <input type="text" name="nome" placeholder="Nome do Laboratório" value="{{laboratorio.nome}}">
                <textarea type="email" name="endereco" placeholder="Endereço (opcional)">{{laboratorio.endereco}}</textarea> 
            </fieldset>
            <fieldset>
                <legend><span class="number">2</span> Intervalos de Coleta</legend>
                <div class="legenda-cadastro">Presença no Laboratório (em minutos):</div>
                <div class="range-slider">
                    <input class="range-slider__range" name="intervalo-parser" type="range" value="{{laboratorio.intervalo_parser}}" min="0.5" max="20" step="0.5">
                    <span class="range-slider__value">{{laboratorio.intervalo_parser}}</span>
                </div>
                <div class="legenda-cadastro">Condições dos Equipamentos (em minutos):</div>
                <div class="range-slider">
                    <input class="range-slider__range"
                    name="intervalo-arduino" type="range" value="{{laboratorio.intervalo_arduino}}" min="0.5" max="20" step="0.5">
                    <span class="range-slider__value">{{laboratorio.intervalo_arduino}}</span>
                </div>
            </fieldset>
            <input type="submit" value="Salvar Informações" />
        </form>
    </div>
    <div class="div-botao-estilizado">
        <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Cancelar</a>
    </div>
</div>
{% endblock %}
