{% extends 'menu.html' %}
{% block title %}
Gerenciar
{% endblock %}

{% block menu %}
    <li><a href="{{url_for('cadastro_lab')}}">Cadastrar Laboratório</a></li>
    <li><a href="{{url_for('cadastro_usuario_lab')}}">Cadastrar Usuario Laboratório</a></li>
    <li><a href="{{url_for('cadastro')}}">Cadastrar Usuario Sistema</a></li>
    <li class="right"><a href="{{url_for('logout')}}">Sair</a></li>
{% endblock %}

{% block content %}
<h2 class="center">Gerenciar</h2>

<hr>

{% if laboratorios %}
{% for lab in laboratorios %}
<div class="campos">
    <form method="POST" action="{{url_for('gerenciar')}}">
        <input type="hidden" name="id-lab" value="{{lab.id}}">
        <div>
            <p>Nome do Laboratório:</p>
            <input type="text" name="nome-lab" value="{{lab.nome}}" {% if not admin %}readonly{% endif %}>
        </div>

        <div>
            <p>Endereço:</p>
            <input type="text" name="endereco-lab" value="{{lab.endereco}}" {% if not admin %}readonly{% endif %}>
        </div>

        <div>
            <p>Intervalo de coleta do parser:</p>
            <input type="text" name="intervalo-parser" value="{{lab.intervalo_parser}}" {% if not admin %}readonly{% endif %}>
        </div>

        <div>
            <p>Intervalo de coleta do Arduino:</p>
            <input type="text" name="intervalo-arduino" value="{{lab.intervalo_arduino}}" {% if not admin %}readonly{% endif %}>
        </div>

        <h3>Zona de Conforto do laboratório</h3>

        <div>
            <p>Temperatura mínima:</p>
            <input type="text" name="temp-min" value="{{lab.zona_conforto_lab.temp_min}}" {% if not admin %}readonly{% endif %}>
        </div>

        <div>
            <p>Temperatura máxima:</p>
            <input type="text" name="temp-max" value="{{lab.zona_conforto_lab.temp_max}}" {% if not admin %}readonly{% endif %}>
        </div>

        <div>
            <p>Umidade mínima:</p>
            <input type="text" name="umid-min" value="{{lab.zona_conforto_lab.umidade_min}}" {% if not admin %}readonly{% endif %}>
        </div>

        <div>
            <p>Umidade máxima:</p>
            <input type="text" name="umid-max" value="{{lab.zona_conforto_lab.umidade_max}}" {% if not admin %}readonly{% endif %}>
        </div>

        <div>
            <p>Luminosidade mínima:</p>
            <input type="text" name="lumin-min" value="{{lab.zona_conforto_lab.lumin_min}}" {% if not admin %}readonly{% endif %}>
        </div>

        <div>
            <p>Luminosidade máxima:</p>
            <input type="text" name="lumin-max" value="{{lab.zona_conforto_lab.lumin_max}}" {% if not admin %}readonly{% endif %}>
        </div>

        {% if admin %}
        <input type="submit" value="Editar">
        {% endif %}
    </form>

    {% if lab.membros or admin%}
    <div>
        <h3>Lista de membros:</h3>
        <table>
            <thead>
                <tr>
                    <th>Id de usuário</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Data de aprovação</th>
                    {% if admin %}
                    <th>-</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% if lab.membros %}
            {% for m in lab.membros %}
                <tr>
                    <td>{{m.user_id}}</td>
                    <td>{{m.nome}}</td>
                    <td>{{m.email}}</td>
                    {% if (m.data_aprovacao|data) == "-" and admin %}
                        <form method="POST" action="{{url_for('autorizar_usuario_lab')}}">
                            <input type="hidden" value="{{lab.id}}" name="id-lab">
                            <input type="hidden" value="{{m.user_id}}" name="id-user">
                            <td><input type="submit" value="Aprovar"></td>
                        </form>
                    {% else %}
                        <td>{{m.data_aprovacao|data}}</td>
                    {% endif %}
                    {% if admin %}
                    <form method="POST" action="{{url_for('remover_usuario_lab')}}">
                        <input type="hidden" value="{{lab.id}}" name="id-lab">
                        <input type="hidden" value="{{m.user_id}}" name="id-user">
                        <td><input type="submit" value="[X]"></td>
                    </form>
                    {% endif %}
                </tr>
            {% endfor %}
            {% endif %}
            {% if admin %}
            <form method="POST" action="{{url_for('cadastro_usuario_lab')}}">
                <tr>
                    <input type="hidden" value="{{lab.id}}" name="id-lab">
                    <td><input type="text" name="id-user"></td>
                    <td><input type="text" name="nome"></td>
                    <td><input type="text" name="email"></td>
                    <td>Aprovar: <input type="checkbox" name="aprovar"></td>
                    <td><input type="submit" value="Adicionar"></td>
                </tr>
            </form>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if lab.equipamentos or admin %}
    <div>
        <h3>Lista de equipamentos:</h3>
        <table>
            <thead>
                <tr>
                    <th>Endereço MAC</th>
                    <th>Temperatura mínima</th>
                    <th>Temperatura máxima</th>
                    {% if admin %}
                    <th>-</th>
                    {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if lab.equipamentos %}
                    {% for e in lab.equipamentos %}
                    <tr>
                        <td>{{e.MAC}}</td>
                        <td>{{e.temp_min}}</td>
                        <td>{{e.temp_max}}</td>
                        {% if admin %}
                        <form method="POST" action="{{url_for('remover_equipamento')}}">
                            <input type="hidden" value="{{e.id}}" name="id-equipamento">
                            <td><input type="submit" value="[X]"></td>
                        </form>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% endif %}
                    {% if admin %}
                    <form method="POST" action="{{url_for('cadastrar_equipamento')}}">
                        <tr>
                            <input type="hidden" name="id-lab" value="{{lab.id}}">
                            <td><input type="text" name="endereco-mac"></td>
                            <td><input type="text" name="temp-min"></td>
                            <td><input type="text" name="temp-max"></td>
                            <td><input type="submit" value="Adicionar"></td>
                        </tr>
                    </form>
                    {% endif %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endfor %}
{% else %}
    <h3 class="center">Não há laboratórios</h3>
    {% if admin %}
    <a href="{{url_for('cadastro_lab')}}"><button class="center"><h3>Cadastrar laboratório</h3></button></a>
    {% endif %}
{% endif %}
{% endblock %}
