{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/form.css" />
<link rel="stylesheet" type="text/css" href="/static/css/radio_input.css" />
<link rel="stylesheet" type="text/css" href="/static/jquery-ui/addons/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" type="text/css" href="/static/css/grafico.css" />
{% endblock %}

{% block js %}
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/jquery-ui/addons/jquery-ui-timepicker-addon.js"></script>
<script src="/static/jquery-ui/addons/i18n/jquery-ui-timepicker-pt-BR.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!-- JS do grafico -->
<script src="/static/js/grafico.js"></script>
{% if data|len > 0 %}
<script>
    alert({{data|safe}});
    drawIssuesChart({{data|safe}});
</script>
{% endif %}
{% endblock %}

{% block content %}
<div id="nav-bar">

    <div class="page-title">
        <h3>Gráficos dos Eventos</h3>
        <h4>{{lab_nome}}</h4>
    </div>

    <div class="neat-form" style="max-width: 680px !important;">
        <form method="POST">

            <fieldset>
                <legend><span class="number">1</span> Tipo do Gráfico</legend>
                <div class="container">

                    <div class="radio">
                        <input id="radio-temp" name="chart_type" type="radio" value="temperatura" checked>
                        <label for="radio-temp" class="radio-label">Temperatura</label>
                    </div>

                    <div class="hidden-radio shrink-div">
                        <div class="radio">
                            <input id="radio-lab-equip" name="equipamento" type="radio" value="laboratorio" checked>
                            <label for="radio-lab-equip" class="radio-label">Laboratório</label>
                        </div>
                        {% for equipamento in equipamentos %}
                        <div class="radio">
                            <input id="radio-equip-{{equipamento.id}}" name="equipamento" type="radio" value="{{equipamento.id}}">
                            <label for="radio-equip-{{equipamento.id}}" class="radio-label">{{equipamento.nome}}</label>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="radio">
                        <input id="radio-umidade" name="chart_type" type="radio" value="umidade">
                        <label  for="radio-umidade" class="radio-label">Umidade</label>
                    </div>

                    <div class="hidden-radio shrink-div" style="display:none;">
                        <div class="radio">
                            <input id="radio-lab-umidade" name="umidade" type="radio" value="laboratorio" checked>
                            <label for="radio-lab-umidade" class="radio-label">Laboratório</label>
                        </div>
                    </div>

                </div>
            </fieldset>

            <fieldset>
                <legend><span class="number">2</span> Datas de Início e Fim</legend>
                <div class="date-tools">
                    <input type="text" id="start-date" style="display:none;">
                    <input type="text" id="end-date" style="display:none;">
                    <input type="text" name="daterange" id="daterange" style="display:none">
                    <div class="datepicker-class" id="datepicker-start"></div>
                    <div class="datepicker-class" id="datepicker-end"></div>
                </div>
            </fieldset>

            <fieldset>
                <legend><span class="number">3</span> Intervalo do Gráfico (minutos)</legend>
                <div class="range-slider">
                    <input class="range-slider__range" name="intervalo_grafico" id="intervalo_grafico" type="range" value="20" min="1" max="120" step="1">
                    <span class="range-slider__value">0</span>
                </div>
            </fieldset>

            <input type="submit" id="graphic" value="Gerar Gráfico" />

        </form>
    </div>

    <div id="curve-chart" style="display:none;"></div>

    {% if data|len < 0%}
    <div class="ui-widget msg" id="warning-chart" style="display: hidden;">
        <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
            Não há registros o suficiente para gerar um gráfico.</p>
        </div>
    </div>
    {% endif %}

    <div class="div-botao-estilizado">
        <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
    </div>
</div>
{% endblock %}
