{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/form.css" />
{% endblock %}

{% block js %}
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  var mydata = JSON.parse('{{temp_data}}' || "[]"),
      cols = JSON.parse("{{cols}}" || "[]");

  function drawChart() {
    var data = google.visualization.arrayToDataTable(haha);

    var options = {
      title: 'Gráfico de Temperatura e Umidade',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }

  if (cols.length > 0) {
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      header_t = ['Data']

        if(cols[0] == 1){
            header_t.push('Temperatura')
        }
        if(cols[1] == 1){
            header_t.push('Umidade')
        }

      // for (var i=0;i<mydata.length;i++){
      //   mydata[i][0] = new Date(mydata[i][0]*1000);
      //   mydata[i][0].toLocaleString();
      //   // mydate = mydata[i][0].toGMTString() + mydata[i][0].toLocaleString();
      // }
      haha = [header_t].concat(mydata)
  } else {
      document.getElementById('curve_chart').remove();
      document.getElementById('warning-chart').style = "";
  }
</script>
{% endblock %}

{% block content %}
<div id="nav-bar">

    <div class="page-title">
        <h3>Gráfico</h3>
        <h4>{{lab_nome}}</h4>
    </div>
    {% if error_message %}
    <div class="ui-widget error-msg">
	    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		    <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
            <strong>Erro: </strong>{{error_message}}</p>
	    </div>
    </div>
    {% endif %}
    <div class="neat-form">
        <form method="POST">
            <fieldset>
                <div class="legenda-cadastro">Tipo do gráfico:</div>
                <div class="graphic_mode">
                    <input type="checkbox" name="temperatura" id="temperatura">Temperatura
                    <input type="checkbox" name="umidade" id="umidade">Umidade
                </div>
                <div class="legenda-cadastro">Intervalo do gráfico (em min):</div>
                <input type="text" name="intervalo_grafico" id="intervalo_grafico">
            </fieldset>
            <input type="submit" id="graphic" value="Gerar gráfico" />
        </form>
    </div>

    <div id="curve_chart" style="width: 900px; height: 500px"></div>
    <div class="ui-widget msg" id="warning-chart" style="display: hidden;">
	    <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
		    <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
            Não há registros o suficiente para gerar um gráfico.</p>
	    </div>
    </div>

    <div class="div-botao-estilizado">
        <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
    </div>
</div>
{% endblock %}
