{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/table.css" />
<link rel="stylesheet" type="text/css" href="/static/css/form.css" />
{% endblock %}

{% block js %}
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/switch_view.js"></script>
<script src="/static/js/aprovar.js"></script>
<script src="/static/js/ajax.js"></script>
<script src="/static/js/gerenciar_usuarios.js"></script>
{% endblock %}

{% block content %}
<div id="nav-bar">
    <div id="view1">
        <div class="page-title">
            <h3>Usuários Associados ao Laboratório</h3>
            <h4>{{lab_nome}}</h4>
        </div>

        {% if usuarios_laboratorio|len > 0 %}
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-center">Nome</th>
                    <th class="text-center">E-mail</th>
                    <th class="text-center">Autorizado</th>
                    <th class="text-center">Alterar</th>
                    <th class="text-center">Excluir</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for usuario in usuarios_laboratorio %}
                <tr>
                    <td class="text-center" title="{{usuario.user_id}}">{{usuario.nome}}</td>
                    <td class="text-center">{{usuario.email}}</td>
                    <td class="text-center">
                        <label class="switch">
                            <input type="checkbox" data-url="{{url_for('aprovar_usuario_lab', id=usuario.user_id)}}" class="aprovar" {% if usuario.data_aprovacao %}checked="checked"{% endif %}>
                            <div class="check-slide round"></div>
                        </label>
                    </td>
                    <td class="text-center">
                        <input data-url = "{{url_for('alterar_usuario_lab', lab_id=lab_id, lab_nome=lab_nome,id=usuario.user_id)}}"
                                data-nome="{{usuario.nome}}"
                                type="image" src = "/static/img/pencil.png"
                                alt="Alterar" class="delete-table-opt alter-btn">
                    </td>

                    <td class="text-center">
                        <input data-url="{{url_for('remover_usuario_lab', lab_id=lab_id, lab_nome=lab_nome, id=usuario.user_id)}}"
                               data-nome="{{usuario.nome}}"
                               type="image" src="/static/img/delete.png"
                               alt="Apagar" class="delete-table-opt delete-btn">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="div-botao-estilizado div-btn-below trocar-view-btn">
            <a id="salvar" href="#" class="btn-estilizado btn-estilizado-blue">Salvar</a>
        </div>
        {% else %}
        <div class="ui-widget msg">
            <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
                Não há usuários cadastrados no laboratório.</p>
            </div>
        </div>
        {% endif %}

        <div class="div-botao-estilizado trocar-view-btn">
            <a href="#associar" class="btn-estilizado btn-estilizado-blue" id="switch-view-reload">Associar</a>
        </div>

        <div class="div-botao-estilizado">
            <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
        </div>
    </div>

    <div anchor="associar" id="view2" style="display:none">

        <div class="page-title">
            <h3>Associar Usuário ao Laboratório</h3>
            <h4>{{lab_nome}}</h4>
        </div>

        {% if usuarios|len > 0 %}
        <div class="neat-form">
            <form method="POST"
            action="{{url_for('adicionar_usuario_lab', id=lab_id, nome=lab_nome)}}">
                <fieldset>
                    <legend><span class="number">!</span> Escolher Usuário do Laboratório</legend>
                    <select name="id-user">
                        <optgroup label="Usuários de Laboratório">
                            {% for usuario in usuarios %}
                            <option value="{{usuario.user_id}}">{{usuario.nome}}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </fieldset>
                <input type="submit" value="Associar Usuário do Laboratório" />
            </form>
        </div>
        {% else %}
        <div class="ui-widget msg">
            <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
                Todos os usuários existentes já encontram-se associados a este laboratório.</p>
            </div>
        </div>
        {% endif %}

        <div class="div-botao-estilizado trocar-view-btn">
            <a href="#" class="btn-estilizado btn-estilizado-blue" id="switch-back-reload">Ver Usuários do Laboratório Associados</a>
        </div>

        <div class="div-botao-estilizado">
            <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
        </div>
    </div>


</div>
{% endblock %}
