{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/table.css" />
<link rel="stylesheet" type="text/css" href="/static/css/form.css" />
<link rel="stylesheet" type="text/css" href="/static/css/radio_input.css" />
<link rel="stylesheet" type="text/css" href="/static/css/round_sliders.css" />
<link rel="stylesheet" type="text/css" href="/static/css/lista_equipamentos.css" />
{% endblock %}

{% block js %}
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/switch_view.js"></script>
<script src="/static/js/ajax.js"></script>
<script src="/static/js/lista_equipamentos.js"></script>
{% endblock %}

{% block content %}
<div id="nav-bar">
    <div id="view1">
        <div class="page-title">
            <h3>Lista de Equipamentos</h3>
            <h4>{{lab_nome}}</h4>
        </div>

        {% if equipamentos|len > 0 %}
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-center">Endereço MAC</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Zona de Conforto</th>
                    <th class="text-center">Arduino Associado</th>
                    <th class="text-center">Alterar Equipamento</th>
                    <th class="text-center">Excluir</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for equipamento in equipamentos %}
                <tr>
                    <td class="text-center" title="Id: {{equipamento.id}}">{{equipamento.MAC}}</td>
                    <td class="text-center" title="{{equipamento.descricao}}">{{equipamento.nome}}</td>
                    <td class="text-center">{% if equipamento.nome_arduino %}{{'%d'| format(equipamento.temp_min|float)}}ºC até {{'%d'| format(equipamento.temp_max|float)}}ºC{% else %}{{'-'}}{% endif %}</td>
                    <td class="text-center" title="{{equipamento.MAC_arduino}}">{{equipamento.nome_arduino|vazio}}</td>
                    <td class="text-center">
                        <input data-url="{{url_for('alterar_equipamento', lab_id=lab_id, lab_nome=lab_nome, id=equipamento.id)}}"
                               data-mac="{{equipamento.MAC}}"
                               type="image" src="/static/img/pencil.png"
                               alt="Apagar" class="delete-table-opt alter-btn">
                    </td>
                    <td class="text-center">
                        <input data-url="{{url_for('remover_equipamento', lab_id=lab_id, lab_nome=lab_nome, id=equipamento.id)}}"
                               data-mac="{{equipamento.MAC}}"
                               type="image" src="/static/img/delete.png"
                               alt="Apagar" class="delete-table-opt delete-btn">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="ui-widget msg">
            <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
                Não há equipamentos cadastrados no laboratório.</p>
            </div>
        </div>
        {% endif %}

        <div class="div-botao-estilizado trocar-view-btn">
            <a href="#cadastrar" class="btn-estilizado btn-estilizado-blue" id="switch-view">Cadastrar Novo Equipamento</a>
        </div>

        <div class="div-botao-estilizado">
            <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
        </div>
    </div>

    <div anchor="cadastrar" id="view2" style="display:none">
        <div class="page-title">
            <h3>Cadastrar Equipamento</h3>
            <h4>{{lab_nome}}</h4>
        </div>

        <div class="neat-form" anchor="cadastrar" id="view2">
            <form method="POST" action="{{url_for('cadastro_equipamento', id=lab_id, nome=lab_nome)}}" id="form">
                <fieldset>
                    <legend><span class="number">1</span> Identificação do Equipamento</legend>
                    <input type="text" name="endereco-mac" id="endereco-mac" placeholder="Endereço MAC">
                </fieldset>
                <fieldset>
                    <legend><span class="number">2</span> Nome do Equipamento</legend>
                    <input type="text" name="nome" id="nome" placeholder="Nome">
                </fieldset>
                <fieldset>
                    <legend><span class="number">3</span> Descrição do Equipamento</legend>
                    <input type="text" name="descricao" id="descricao" placeholder="Descrição">
                </fieldset>
                <fieldset>
                    <legend><span class="number">4</span> Tipo do Equipamento</legend>

                    <input type="hidden" name="parent_id" id="parent-id" value="0">

                    <div class="radio">
                        <input id="ardu-radio" name="radio-1" type="radio" checked>
                        <label for="ardu-radio" class="radio-label">Arduino</label>
                    </div>

                    {% if lista_arduinos|len > 0%}
                    <div class="radio">
                        <input id="comp-radio" name="radio-1" type="radio">
                        <label for="comp-radio" class="radio-label">Computador</label>
                    </div>

                    <div class="hidden-radio shrink-div hidden">
                        <div id="arduino-select">Selecione o Arduino ao qual o Computador será associado:</div>
                        
                        <select id="select-arduino">
                            <optgroup label="Arduino - Endereço MAC">
                                {% for arduino in lista_arduinos %}
                                <option value="{{arduino.id}}">{{arduino.nome}} - {{arduino.MAC}}</option>
                                {% endfor %}
                            </optgroup>
                        </select>        
                                        
                    </div>
                    {% endif %}
                </fieldset>
                <div class="hidden-zona-conforto shrink-div hidden">
                    <fieldset>
                        <legend><span class="number">5</span> Zona de Conforto</legend>
                        <div class="legenda-cadastro">Temperatura do Equipamento:</div>
                        <div class="div-double-slider">
                            <div id="slider-temp" class="double-slider"></div>
                            <input type="hidden" name="temp-min" id="temp-min" value="0">
                            <input type="hidden" name="temp-max" id="temp-max" value="0">
                            <span class="double-slider-value"><input type="url" id="temp-lab" class="slider-bounds-lab" readonly></span>
                        </div>
                    </fieldset>
                </div>
                <input type="submit" value="Cadastrar Equipamento" />
            </form>
        </div>

        <div class="div-botao-estilizado trocar-view-btn ">

            <a href="#" class="btn-estilizado btn-estilizado-blue" id="switch-back">Cancelar</a>
        </div>
    </div>








</div>
{% endblock %}
