{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/table.css" />
{% endblock %}

{% block js %}
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/js/switch_view.js"></script>
{% endblock %}

{% block content %}
<div id="nav-bar">

    <div id="view1">
        <div class="page-title">
            <h3>Membros Presentes Neste Momento</h3>
            <h4>{{lab_nome}}</h4>
        </div>

        {% if mydenox.slug != "internet" %}
        {% if usuarios_presentes|len > 0 %}
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-center">Nome</th>
                    <th class="text-center">E-mail</th>
                    <th class="text-center">Hora de Entrada</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for usuario in usuarios_presentes %}
                <tr>
                    <td class="text-center" title="{{usuario.user_id}}">{{usuario.nome}}</td>
                    <td class="text-center">{{usuario.email}}</td>
                    <td class="text-center">{{usuario.data_entrada|data}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="ui-widget msg">
            <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
                Não há membros presentes neste momento.</p>
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="ui-widget msg">
            <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
                Informe ao suporte!<br>Detector de presença - {{mydenox.status}}</p>
            </div>
        </div>
        {% endif %}

        <div class="div-botao-estilizado trocar-view-btn">
            <a href="#log" class="btn-estilizado btn-estilizado-blue" id="switch-view-reload">Ver Log de Presença</a>
        </div>

        <div class="div-botao-estilizado">
            <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
        </div>
    </div>

    <div anchor="log" id="view2" style="display:none">
        <div class="page-title">
            <h3>Log de Presença de {{dia|dia_mes_ano}}</h3>
            <h4>{{lab_nome}}</h4>
        </div>

        {% if eventos|len > 0 %}
        <table class="table-fill">
            <thead>
                <tr>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Evento</th>
                    <th class="text-center">Data</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                {% for evento in eventos %}
                <tr>
                    <td class="text-center" title="{{evento.user_id}}">{{evento.nome_de_usuario}}</td>
                    <td class="text-center">{{evento.evento|trans_evento}}</td>
                    <td class="text-center">{{evento.epoch|data}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="ui-widget msg">
            <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
                <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
                Não há eventos registrados no sistema.</p>
            </div>
        </div>
        {% endif %}

        {% if dia_anterior != proximo_dia %}
        <div class="div-botao-estilizado trocar-view-btn">
            {% if dia_anterior != dia %}
                <a href="{{url_for('log_eventos', id=lab_id, nome=lab_nome, dia=dia_anterior|format_dia_url, _anchor='log')}}" class="btn-estilizado btn-estilizado-blue">Dia anterior ({{dia_anterior|dia_mes_ano}})</a>
            {% endif %}
            {% if proximo_dia != dia %}
                <a href="{{url_for('log_eventos', id=lab_id, nome=lab_nome, dia=proximo_dia|format_dia_url, _anchor='log')}}" class="btn-estilizado btn-estilizado-blue">Próximo dia ({{proximo_dia|dia_mes_ano}})</a>
            {% endif %}
        </div>
        {% endif %}

        <div class="div-botao-estilizado trocar-view-btn">
            <a href="#" class="btn-estilizado btn-estilizado-blue" id="switch-back-reload">Ver Membros Presentes</a>
        </div>

        <div class="div-botao-estilizado">
            <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
        </div>
    </div>
</div>
{% endblock %}
