{% extends 'menu.html' %}
{% block title %}
Login
{% endblock %}

{% block menu %}
<li><a href="{{url_for('cadastro_usuario_lab')}}">Cadastrar Usuario Laboratório</a></li>
<li><a href="{{url_for('cadastro')}}">Cadastrar Usuario Sistema</a></li>
{% endblock %}

{% block content %}
<h2 class="center">Login</h2>

<hr>

<div class="campos">
    <form class="form" method="POST" action="{{url_for('login')}}">
        <div>
            <p>Usuário:</p>
            <input type="text" name="login">
        </div>

        <div>
            <p>Senha:</p>
            <input type="password" name="senha">
        </div>

        <div>
            <input type="submit" value="Enviar">
        </div>
    </form>
</div>
{% endblock %}
