<!DOCTYPE >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" />
    {% block header %}
    {% endblock %}
</head>

<body>
    <ul class="nav-bar-ul">
        {% if autenticado %}
        <li class="nav-bar-li">
            <a class="nav-bar-li-link {% if pagina in ['laboratorios', 'gerenciar'] %}active{% endif %}"
               href="{{url_for('laboratorios')}}">Laboratório</a>
        </li>
        {% else %}
        <li class="nav-bar-li">
            <a class="nav-bar-li-link {% if pagina == 'login' %}active{% endif %}"
               href="{{url_for('login')}}">Acessar o sistema</a>
        </li>
        {% endif %}

        {% if lab_id %}
        <li class="nav-bar-suboption">
            <a class="nav-bar-li-link {% if pagina == 'log_eventos' %}active{% endif %}"
               href="{{url_for('log_eventos_hoje', id=lab_id, nome=lab_nome)}}">
                <div class="nav-bar-suboption-text">Presença no Laboratório</div>
            </a>
        </li>
        <li class="nav-bar-suboption">
            <a class="nav-bar-li-link {% if pagina == 'usuarios_laboratorio' %}active{% endif %}"
               href="{{url_for('usuarios_laboratorio', id=lab_id, nome=lab_nome)}}">
                <div class="nav-bar-suboption-text">Gerenciar Membros</div>
            </a>
        </li>
        <li class="nav-bar-suboption">
            <a class="nav-bar-li-link {% if pagina == 'equipamentos_laboratorio' %}active{% endif %}"
               href="{{url_for('equipamentos_laboratorio', id=lab_id, nome=lab_nome)}}">
                <div class="nav-bar-suboption-text">Gerenciar Equipamentos</div>
            </a>
        </li>
        <li class="nav-bar-suboption">
            <a class="nav-bar-li-link {% if pagina == 'zona_de_conforto' %}active{% endif %}"
               href="{{url_for('zona_de_conforto', id=lab_id, nome=lab_nome)}}">
                <div class="nav-bar-suboption-text">Alterar Zona de Conforto</div>
            </a>
        </li>
        <li class="nav-bar-suboption">
            <a class="nav-bar-li-link {% if pagina == 'editar_laboratorio' %}active{% endif %}"
               href="{{url_for('editar_laboratorio', id=lab_id, nome=lab_nome)}}">
                <div class="nav-bar-suboption-text">Alterar Dados do Laboratório</div>
            </a>
        </li>
        <li class="nav-bar-suboption">
            <a class="nav-bar-li-link {% if pagina == 'mostrar_grafico' %}active{% endif %}"
               href="{{url_for('mostrar_grafico', id=lab_id, nome=lab_nome)}}">
                <div class="nav-bar-suboption-text">Mostrar Gráfico</div>
            </a>
        </li>
        <li class="nav-bar-suboption">
            <a class="nav-bar-li-link {% if pagina == 'mostrar_relatorio' %}active{% endif %}"
               href="{{url_for('mostrar_relatorio', id=lab_id, nome=lab_nome)}}">
                <div class="nav-bar-suboption-text">Mostrar Relatório</div>
            </a>
        </li>
        <li class="nav-bar-suboption">
            <a class="nav-bar-li-link {% if pagina == 'system-status' %}active{% endif %}"
               href="{{url_for('system_status', id=lab_id, nome=lab_nome)}}">
                <div class="nav-bar-suboption-text">Status do Sistema</div>
            </a>
        </li>
        <li class="nav-bar-suboption">
            <a class="nav-bar-li-link {% if pagina == 'anomalias' %}active{% endif %}"
                href="{{url_for('anomalias_hoje', id=lab_id, nome=lab_nome)}}">
                <div class="nav-bar-suboption-text">Anomalias</div>
            </a>
        </li>
        {% endif %}

        <li class="nav-bar-li dropdown">
            {% if autenticado %}
                <a id="cadastro-usuario" class="nav-bar-li-link" hred="#">Gerenciar Usuários</a>
            {% else %}
                <a id="cadastro-usuario" class="nav-bar-li-link" hred="#">Novos Usuários</a>
            {% endif %}
        </li>
        <ul id="hidden-register" class="nav-bar-ul" {% if pagina not in ['cadastro', 'cadastro_usuario_lab', 'aprovar_usuario'] %}style="display:none"{% endif %}>
            <li class="nav-bar-suboption">
                <a class="nav-bar-li-link {% if pagina == 'cadastro' %}active{% endif %}"
                   href="{{url_for('cadastro')}}">
                    <div class="nav-bar-suboption-text">Novo Usuário do Sistema</div>
                </a>
            </li>
            <li class="nav-bar-suboption">
                <a class="nav-bar-li-link {% if pagina == 'cadastro_usuario_lab' %}active{% endif %}"
                   href="{{url_for('cadastro_usuario_lab')}}">
                    <div class="nav-bar-suboption-text">Novo Usuário do Laboratório</div>
                </a>
            </li>
            {% if admin %}
            <li class="nav-bar-suboption">
                <a class="nav-bar-li-link {% if pagina == 'aprovar_usuario' %}active{% endif %}"
                   href="{{url_for('aprovar_usuario')}}">
                    <div class="nav-bar-suboption-text">Gerenciar Usuários do Sistema</div>
                </a>
            </li>
            {% endif %}
        </ul>

        {% if autenticado %}
        <li class="nav-bar-li logout-btn">
            <a class="nav-bar-li-link"
               href="{{url_for('logout')}}"><div class="logout-img"></div><span class="logout-txt">Logout</span></a>
        </li>
        {% endif %}
    </ul>

    <div>
    {% if request.args.get('e') %}
    <div class="ui-widget js-message error-msg hidden">
	    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		    <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
            <strong>Erro: </strong>{{request.args.get('e')}}</p>
	    </div>
    </div>
    {% endif %}

    {% if request.args.get('w') %}
    <div class="ui-widget js-message msg hidden">
	    <div class="ui-state-warning ui-corner-all" style="padding: 0 .7em;">
		    <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
            <strong>Aviso: </strong>{{request.args.get('w')}}</p>
	    </div>
    </div>
    {% endif %}

    {% if request.args.get('c') %}
    <div class="ui-widget js-message success-msg hidden">
	    <div class="ui-state-success ui-corner-all" style="padding: 0 .7em;">
		    <p><span class="ui-icon ui-icon-circle-check" style="float: left; margin-right: .3em; margin-top: .04em"></span>
            <strong>Sucesso: </strong>{{request.args.get('c')}}</p>
	    </div>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}
    </div>

    <!-- Page Javascript Include -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/navbar.js"></script>
    {% block js %}
    {% endblock %}
</body>
</html>
