<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS Include -->
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    {% block header %}
    {% endblock %}
</head>

<body>
    <div class="menu">
        <ul>
            <li class="logo"><a href="/"><img src="/static/img/ese.png"></a></li>
            <div class="links_menu">
            {% block menu %}
            {% endblock %}
            </div>
        </ul>
    </div>
    {% if request.args.get("e", "") != "" %}
    <div class="error_message">
        <p>{{request.args.get("e")}}</p>
    </div>
    {% endif %}
    {% if request.args.get("c", "") != "" %}
    <div class="confirm_message">
        <p>{{request.args.get("c")}}</p>
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>
