{% extends 'menu.html' %}

{% block title %}Issues Monitoring{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/table.css" />
{% endblock %}

{% block content %}
<div id="nav-bar">
<div id="view1">
    <div class="page-title">
        <h3>Status do Sistema</h3>
    </div>
    {% if componentes|len > 0 %}
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-center">Componente</th>
                <th class="text-center">Data da Última Atualização</th>
                <th class="text-center">Status do Componente</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            {% for componente in componentes %}
            <tr>
                <td class="text-center">{{componente["nome_componente"]}}</td>
                <td class="text-center">{{componente["ultima_atualizacao"]|data_segundos}}</td>
                <td class="text-center">{{componente["status"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="ui-widget msg">
        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em; margin-top: .04em"></span>
            <strong>Erro: </strong>Não foi possível listar os status dos componentes do sistema.</p>
        </div>
    </div>
    {% endif %}

    <div class="div-botao-estilizado">
        <a href="{{url_for('laboratorio', id=lab_id, nome=lab_nome)}}" class="btn-estilizado btn-estilizado-blue">Voltar ao Laboratório</a>
    </div>
</div>
</div>
{% endblock %}
