/* CSS referente ao botao de opcao de laboratorio: */

.lab-container {
	min-height: 100px;
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.lab-btn { 
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	padding: 100px 38px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 4px;
    width: 130px;
    height: 90%;
    text-decoration: none; 
    margin: 0 10px; 
}

	.lab-btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	.lab-btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

.lab-txt {
    position: relative; 
    bottom: -80px;
    word-wrap: break-word;
}

/* Variante azul do botao de laboratorio: */

.btn-blue {
	background-color: #699DB6 !important;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}


/* CSS referente ao titulo principal da pagina: */

#title-text {
    text-align : center;
    margin-top : 30px;
    letter-spacing: 1px;
	font-size: 40px;
    text-shadow: 0 0 0.05em #87F, 0 0 0.03em #87F, 0 0 0.03em #87F;
}

/* CSS referente ao botao de Cadastrar Novo Laboratorio: */

.div-botao-novo-lab {
    min-height: 100px;
	margin-top: 30px;
	width: 100%;
    text-align: center;
}

.btn-novo-lab {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
    text-align: center;
    text-decoration: none;
}

	.btn-novo-lab:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	.btn-novo-lab:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

.btn-novo-lab-blue {
	background-color: #4aa3ce;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	.btn-novo-lab-blue:hover {
		background-color: #2182b2;
		border-color: rgba(0,0,0,0.5);
	}
	
	.btn-novo-lab-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

