from os.path import join, dirname

class URI:
    def __init__(self, host, port, protocol="http"):
        self.host = host
        self.port = port
        self.protocol = protocol

    def __str__(self):
        return "{}://{}:{}".format(self.protocol, self.host, self.port)

class Config:
    debug = True

    issues_monitoring = URI("0.0.0.0", 8080)

    token_parser = ""

    secret_key = ""

    session_duration = 60 * 30 # in seconds

    db_path = join(dirname(), "Issues.db")
