/* CSS referente ao botao de opcao de laboratorio: */

.lab-container {
	min-height: 100px;
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.lab-btn { 
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	padding: 100px 38px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 4px;
    background: url(scientist.png) no-repeat top;
    background-size: 110px 145px; /*Tamanho da imagem do lab*/
    background-position: 55% 15%; /*Centraliza a imagem do lab*/
    width: 130px;
    height: 90%;
    text-decoration: none; 
    margin: 0 10px; 
}

	.lab-btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	.lab-btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

.lab-txt {
    position: relative; 
    bottom: -80px;
    word-wrap: break-word;
}

/* Variante azul do botao de laboratorio: */

.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

/* CSS referente a barra de navegacao lateral: */

body {
    margin: 0;
}

.nav-bar-li {
    font-size: 14pt;
    letter-spacing: 1px;
}

.nav-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%; /*Tamanho da nav-bar lateral*/
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.nav-bar-li .nav-bar-li-link {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav-bar-li .nav-bar-li-link.active {
    background-color: #87F;
    color: white;
}

.nav-bar-li .nav-bar-li-link:hover:not(.active) {
    background-color: #555;
    color: white;
}

#nav-bar {
    margin-left : 20%; /*Se mudar tamanho da nav-bar lateral, mude aqui tambem*/
    padding : 1px 16px;
    height : 1000px;
}

/* CSS referente ao titulo principal da pagina: */

#title-text {
    text-align : center;
    margin-top : 30px;
    letter-spacing: 1px;
	font-size: 40px;
    text-shadow: 0 0 0.05em #87F, 0 0 0.03em #87F, 0 0 0.03em #87F;
}

/* CSS referente ao botao de Cadastrar Novo Laboratorio: */

.div-botao-novo-lab {
    min-height: 100px;
	margin-top: 30px;
	width: 100%;
    text-align: center;
}

.btn-novo-lab {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
    text-align: center;
    text-decoration: none;
}

	.btn-novo-lab:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	.btn-novo-lab:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

.btn-novo-lab-blue {
	background-color: #4aa3ce;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	.btn-novo-lab-blue:hover {
		background-color: #2182b2;
		border-color: rgba(0,0,0,0.5);
	}
	
	.btn-novo-lab-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}


/* CSS referente a cadastrar novo laboratorio: */

.cadastrar-lab-form{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.cadastrar-lab-form fieldset{
    border: none;
}
.cadastrar-lab-form legend {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.cadastrar-lab-form label {
    display: block;
    margin-bottom: 8px;
}
.cadastrar-lab-form input[type="text"],
.cadastrar-lab-form input[type="date"],
.cadastrar-lab-form input[type="datetime"],
.cadastrar-lab-form input[type="email"],
.cadastrar-lab-form input[type="number"],
.cadastrar-lab-form input[type="search"],
.cadastrar-lab-form input[type="time"],
.cadastrar-lab-form input[type="url"],
.cadastrar-lab-form textarea,
.cadastrar-lab-form select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
   
}
.cadastrar-lab-form input[type="text"]:focus,
.cadastrar-lab-form input[type="date"]:focus,
.cadastrar-lab-form input[type="datetime"]:focus,
.cadastrar-lab-form input[type="email"]:focus,
.cadastrar-lab-form input[type="number"]:focus,
.cadastrar-lab-form input[type="search"]:focus,
.cadastrar-lab-form input[type="time"]:focus,
.cadastrar-lab-form input[type="url"]:focus,
.cadastrar-lab-form textarea:focus,
.cadastrar-lab-form select:focus{
    background: #d2d9dd;
}
.cadastrar-lab-form select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.cadastrar-lab-form .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.cadastrar-lab-form input[type="submit"],
.cadastrar-lab-form input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.cadastrar-lab-form input[type="submit"]:hover,
.cadastrar-lab-form input[type="button"]:hover
{
    background: #109177;
}

.legenda-cadastro {
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 18px;
}

/* CSS referente ao slider: */


.range-slider {
  margin: 20px 0 0 0%;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
  display: inline;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 14px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
