#!/bin/python3

DEBUG                = True

HOST                 = "imap.gmail.com"
USERNAME             = ""
PASSWORD             = ""

AUTH_TOKEN           = ""

LOG_TIMESTAMP_FORMAT = "%Y-%m-%d %H:%M:%S"

# Empty to assume stderr (forces stderr during DEBUG)
LOG_FILE             = ""

# In minutes
WAIT_FOR             = 5
MAX_WAITING_PERIOD   = 60


MAIL_FROM            = "noreply@denox.com.br"

API_ENDPOINT         = "http://localhost/parser"
