#!/bin/python3

DEBUG = True

HOST = "imap.gmail.com"
USERNAME = ""
PASSWORD = ""

AUTH_TOKEN = ""

WAIT_FOR = 5 # minutes

MAIL_FROM = "noreply@denox.com.br"

API_ENDPOINT = "http://localhost/parser"
