body {
    background-color : #e8f0fc;
    color: #000000;
    margin: 0;
}

a {
    color: #0000FF;
}

.menu {
    background-color: #333;
    color: #9d9d9d;
    min-height: 26px;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul > li {
    display: inline-block;
}

ul > div.links_menu {
    margin: 0;
    width: 80%;
    display: inline-block;
    position: absolute;
    top: 2.5vmin;
}

ul > div.links_menu > li {
    font-family: "mono";
    font-size: 2.5vmin;
    display: inline;
    margin: 10px 20px;
    float: left;
}

ul > div.links_menu > li:hover {
    color: white;
}

ul > div.links_menu > li > a {
    color: inherit;
    text-decoration: none;
    margin: 5px 0;
}

input {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. */
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1.2px solid #999;
}

input:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}

.center {
    text-align: center;
}

.campos {
    text-align: center;
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 70%;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #ddeaff;
}

.cadastro {
    width: 40% !important;
    min-width: 200px;
    max-width: 100%;
}

form > div > p {
    width: 30%;
    font-weight: 600;
}

form > div > input, form > div > select {
    width: 55%;
}

hr {
  border: 0;
  width: 50%;               
  background-color:#cbd0d8;
  height: 1px;
}

.logo {
    margin: 0;
    padding: 0;
    width: 20%;
    max-width: 170px;
}

.logo img {
    padding: 5px 0;
    width: 100%;
}

input[type="submit"] {
    margin: 10px 0;
}

.right {
    float: right !important;
}

table {
    width: 100%;
}
