/* CSS geral do template da form: */

.neat-form{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.neat-form fieldset{
    border: none;
}
.neat-form legend {
    font-size: 1.8em;
    margin-bottom: 10px;
}
.neat-form label {
    display: block;
    margin-bottom: 8px;
}
.neat-form input[type="text"],
.neat-form input[type="date"],
.neat-form input[type="password"],
.neat-form input[type="datetime"],
.neat-form input[type="email"],
.neat-form input[type="number"],
.neat-form input[type="search"],
.neat-form input[type="time"],
.neat-form textarea,
.neat-form select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
   
}
.neat-form input[type="text"]:focus,
.neat-form input[type="date"]:focus,
.neat-form input[type="datetime"]:focus,
.neat-form input[type="email"]:focus,
.neat-form input[type="password"]:focus,
.neat-form input[type="number"]:focus,
.neat-form input[type="search"]:focus,
.neat-form input[type="time"]:focus,
.neat-form textarea:focus,
.neat-form select:focus{
    background: #d2d9dd;
}
.neat-form select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.neat-form .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.neat-form input[type="submit"],
.neat-form input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.neat-form input[type="submit"]:hover,
.neat-form input[type="button"]:hover
{
    background: #109177;
    cursor: pointer;
}

.legenda-cadastro {
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 18px;
}

/* CSS referente ao slider: */


.range-slider {
  margin: 20px 0 0 0%;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - 80px);
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
    display: inline;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 14px;
    margin-left: 8px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

/* CSS referente ao slider duplo: */

.div-double-slider {
    margin: 20px 0 0 0%;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

.slider-bounds-lab {
    background: transparent;
    border: none;
    color: #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */;
}

.double-slider {
    -webkit-appearance: none;
    width: calc(100% - (110px));
    height: 10px;
    border-radius: 5px;
    border: 0 !important;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

.double-slider-value {
    display: block;
    position: relative;
    bottom: 20px;
    left: 374px;
    width: 63px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 14px;
    margin-left: 8px;
    min-width: 9ex;
}

.double-slider-value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}



.neat-form input[type=url] {
    width: 100%;
    text-align: center;
}
