/* CSS referente a barra de navegacao lateral: */

body {
    margin: 0;
    overflow-x: hidden;
}

.nav-bar-li {
    font-size: 14pt;
    letter-spacing: 1px;
}

.nav-bar-suboption {
    font-size: 9pt;
    letter-spacing: 1px;
}

.nav-bar-suboption-text {
    margin-left: 20px;
}

.nav-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%; /*Tamanho da nav-bar lateral*/
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.nav-bar-li-link {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav-bar-li-link.active {
    background-color: #87F;
    color: white;
}

.nav-bar-li-link:hover:not(.active) {
    background-color: #555;
    color: white;
}

#nav-bar {
    margin-left : 20%; /*Se mudar tamanho da nav-bar lateral, mude aqui tambem*/
    padding : 1px 16px;
    height : 1000px;
}


/* CSS referente ao botao azul: */

.div-botao-estilizado {
    min-height: 100px;
	margin-top: 30px;
	width: 100%;
    text-align: center;
}

.btn-estilizado {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
    text-align: center;
    text-decoration: none;
}

.div-btn-below {
    margin-top: -42px;
}

.btn-estilizado:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}

.btn-estilizado:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}

.btn-estilizado-blue {
	background-color: #4aa3ce;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

.btn-estilizado-blue:hover {
    background-color: #2182b2;
    border-color: rgba(0,0,0,0.5);
}

.btn-estilizado-blue:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}

/* CSS referente a titulos de paginas: */

.page-title h3 {
    color: #4286f4;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.page-title h4 {
    position: relative;
    bottom: 30px;
    margin-bottom: 2px;
    color: #4286f4;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.dropdown:hover {
    cursor: pointer
}

/* CSS referente a mensagens de erro e de sucesso: */

.error-msg, .success-msg, .msg{
    max-width: 520px;
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: -12px;
    margin-bottom: 16px;
    line-height: 120%;
}

.ui-state-success {
    border: 1px solid #0eb906;
    background-color: #baffb6;
    color: #085c04;
}

.ui-state-warning {
    border: 1px solid #aeb906;
    background-color: #fbffb6;
    color: #727e00;
}

.ui-icon {
    color: #085c04;
}

.ui-state-success .ui-icon {
    background-image: url("/static/img/ui-icons_085c04_256x240.png") !important;
}

.ui-state-warning .ui-icon {
    background-image: url("/static/jquery-ui/images/ui-icons_777620_256x240.png") !important;
}

.hidden {
    display: none;
}

.trocar-view-btn {
    margin-bottom: -70px;
    margin-top: 30px;
}

/* CSS referente ao botao de logout: */

.logout-img {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 4px;
    background: url(/static/img/logout.png) no-repeat top;
    background-size: 20px 20px; /*Tamanho da imagem de logout*/
    background-position: 10% 10%; /*Posicao da imagem de logout*/
}

.logout-txt {
    display: inline-block;
    margin-left: 10px;
}

.logout-btn {
    position:absolute; 
    bottom:0;
    width: 100%;
}
