.datepicker-class {
    vertical-align: text-top;
    margin-left: 12px;
    margin-right: 12px;
    display: inline-block !important;
}

.date-tools {
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    left: 15px;
}

#view1 {
    margin-top: 40px;
}

