body {
    background-color : #e8f0fc;
}

.login-form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color : #ddeaff;
}

input {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. */
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1.2px solid #999;
}

input:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}

#login-fields {
    text-align: center
}

#register-button {
    text-align: center;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 50%;               
  background-color:#cbd0d8;
  height: 1px;
}

#icon-link {
  width: 27%;
  margin-top: 5px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:10px !important; 
    padding-bottom:0 !important;
    height: 40px;
}
.navbar {min-height:28px !important;}

